body{
  background-color: lightgrey;
}
h1{
  color: black;
  font-style: normal;
  font-family: monospace;
  background-color: white;
  font-size: 30px;
}
#Quote{
  color: purple;
  font-size: 27px;
}

#Author{
  color: red;
  font-size: 20px;
}

#random_btn{
  color: blue;
  border-color: lightblue;
  font-size: 20px;
}

div{
  width: 400px;
padding: 10px;
border: 5px solid purple;
margin: 30px;
}
